In [12]:
import pandas as pd

In [15]:
jan_19 = 'data/JC-201901-citibike-tripdata.csv'
feb_19 = 'data/JC-201902-citibike-tripdata.csv'
mar_19 = 'data/JC-201903-citibike-tripdata.csv'
apr_19 = 'data/JC-201904-citibike-tripdata.csv'
may_19 = 'data/JC-201905-citibike-tripdata.csv'
jun_19 = 'data/JC-201901-citibike-tripdata.csv'
jul_19 = 'data/JC-201902-citibike-tripdata.csv'
aug_19 = 'data/JC-201903-citibike-tripdata.csv'
sep_19 = 'data/JC-201904-citibike-tripdata.csv'
oct_19 = 'data/JC-201905-citibike-tripdata.csv'
nov_19 = 'data/JC-201901-citibike-tripdata.csv'
dec_19 = 'data/JC-201902-citibike-tripdata.csv'

In [16]:
jan_df = pd.read_csv(jan_19)
feb_df = pd.read_csv(feb_19)
mar_df = pd.read_csv(mar_19)
apr_df = pd.read_csv(apr_19)
may_df = pd.read_csv(may_19)
jun_df = pd.read_csv(jun_19)
jul_df = pd.read_csv(jul_19)
aug_df = pd.read_csv(aug_19)
sep_df = pd.read_csv(sep_19)
oct_df = pd.read_csv(oct_19)
nov_df = pd.read_csv(nov_19)
dec_df = pd.read_csv(dec_19)

In [17]:
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [18]:
frames = [jan_df, feb_df, mar_df, apr_df, may_df, jun_df, jul_df, aug_df, sep_df, oct_df, nov_df, dec_df]
citi_2019_df = pd.concat(frames)

In [21]:
citi_2019_df.to_csv("data/citi_2019_data.csv", index=False, header=True)